
.one{
    width: 15%;
    text-align: center;
}

.two{
    width: 10%;
    text-align: center;
}

.three{
    width: 10%;
    text-align: center;
}

.four{
    width: 15%;
    text-align: center;
}

.fives{
    width: 10%;
    text-align: center;
}

.six{
    width: 10%;
    text-align: center;
}

.seven{
    width: 20%;
    text-align: center;
}

.foodbody{
	margin-top: 10px;
}

