
.one{
    width: 20%;
    text-align: center;
}

.two{
    width: 20%;
    text-align: center;
}

.three{
    width: 20%;
    text-align: center;
}

.four{
    width: 20%;
    text-align: center;
}

.fives{
    width: 20%;
    text-align: center;
}

.tablebody{
	
}
